
.city-list__wrapper-top {
  display: flex;
  justify-content: space-between;
  width: 335px;
  height: 32px;
  margin-right: 18px;
  border: 1px solid #999999;
}

.city-list__wrapper-top:hover {
  cursor: pointer;
  background-color: #999999;
}

.city-list__name {
  margin: auto 0 auto 7px;
}

.city-list__img-button {
  margin: auto 7px auto auto;
}

.city-list__item {
  display: flex;
  justify-content: space-between;
  width: 335px;
  height: 32px;
  margin-right: 18px;
  border: 1px solid #999999;
  border-top: none;
  position: relative;
  background-color: #fff;

}

.city-list__item--none {
  display: none;
}

.city-list__item:hover {
  cursor: pointer;
  background-color: #999999;
}